.parampara{border : solid rgb(255, 64, 0);
    background-image: linear-gradient(to right,rgba(255, 25, 0, 0.881),rgba(0, 0, 0, 0.763));
border-radius: 10px;
height: 40vh;
width: 40vh;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;

}
.btn{background-image:linear-gradient(to right,rgba(255, 25, 0, 0.865),rgba(0, 0, 0, 0.251)) ;
border-radius: 5px;}
body{display: flex;
    height: 100vh;
    flex-direction: row;
    align-items: center;
justify-content: center;
background-image: linear-gradient(to right,rgba(255, 166, 0, 0.824),rgba(0, 0, 0, 0.596));}